{% extends "base.html.twig" %}

{% block title %}HOME de HomeAway{% endblock %}

{% block container %}
<div class="jumbotron">
    <h2 class="display-4">Welcome HOME</h2>
    <p>v(｡･ω･｡)ｨｪｨ♪ ceci fait cela v(｡･ω･｡)ｨｪｨ♪</p>
    <p><small>ヽ(▽ ｀)ノﾜｰｲ♪ヽ(´▽｀)ノﾜｰｲ♪ヽ( ´▽)ノ.</small></p>
  </div>
{% endblock %}